@font-face {
  font-display: swap;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fira-mono-v14-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fira-mono-v14-latin-700.woff2") format("woff2");
}

:root {
  --clr-primary-txt: #c9d1d9;
  --clr-primary-bg: #0d1117;
  --clr-tertiary-bg: #141a24;
  --clr-secondary-bg: #1e4273;
  --clr-border: #8090a8;
  --clr-orange: #ec8e2c;
  --clr-blue: #58a6ff;
  --clr-pink: #bc8cff;
  --clr-light-blue: #79c0ff;
}

* {
  padding: 0;
  margin: 0;
  cursor: default;
}

h1 {
  font-size: 1.1rem;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  cursor: pointer;
}

body {
  font-family: "Fira Mono", monospace, sans-serif;
  overflow: hidden;
  padding: 1rem;
  height: 100vh;
}

.darkmode {
  background-color: var(--clr-primary-bg);
  color: var(--clr-primary-txt);
}

*::-webkit-scrollbar {
  width: 0.4em;
  background-color: var(--clr-primary-bg);
  height: 0.2em;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-txt);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-primary-txt) var(--clr-primary-bg);
}

svg {
  overflow: visible;
}

#logo {
  width: 100%;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 2rem;
  min-height: 224px;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 93%;
  gap: 0.4rem;
  justify-content: flex-start;
}

#section-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 0.4rem;
}

#left-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 25%;
}

#right-section {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 75%;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

#main-content .container-content {
  overflow-y: auto;
  line-height: 1.5rem;
  gap: 1.5rem;
  padding: 2rem;
  align-items: center;
  width: calc(100% - 4rem);
  height: 95vh;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 0.2rem;
  font-size: 0.8rem;
  overflow: hidden;
  min-height: 4ch;
}

#home {
  height: auto;
  padding: 0.5rem;
}

#home-section-paragraph {
  padding: 0 0.2rem;
}

.footer-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  border: 0.1px solid var(--clr-primary-txt);
  position: relative;
  padding-top: 0.2rem;
  height: 29%;
}

#left-section .container:hover:not(.selected-frame) {
  border-color: var(--clr-border);
}

.container-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.outer-paragraph-container {
  width: 100%;
}

.inner-paragraph-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.image-container {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.image-inner-container {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 0.5rem;
  border: 0.1px solid var(--clr-light-blue);
}

.project-image {
  margin: 0.5rem;
  width: 100%;
  max-width: fit-content;
  background-color: var(--clr-secondary-bg);
}

pre {
  display: block;
  font-family: "Fira Mono", monospace, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 0.5rem;
  border: 0.1px solid var(--clr-light-blue);
  color: var(--clr-primary-txt);
  overflow-x: scroll;
}

.snippet-container {
  margin-top: 4rem;
}

.scrollable {
  overflow-y: auto;
}

.h-sm {
  height: 5%;
}

.h-auto {
  height: fit-content;
}

.h-fill {
  flex-grow: 1;
}

.h-full {
  height: 100%;
}

.mt-4 {
  margin-top: 2rem 4rem;
}

.decorating-text {
  position: absolute;
  padding: 0 0.1rem;
  width: fit-content;
}

.decorating-text p {
  position: relative;
  z-index: 2;
}

.decorating-text div {
  position: relative;
  z-index: 1;
  background-color: var(--clr-primary-bg);
  height: 0.5ch;
  top: -1ch;
  left: -2px;
  width: 104%;
}

.title {
  top: -12px;
}

.list-index {
  bottom: -12px;
  align-self: flex-end;
}

.ui-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 99%;
  padding: 0.2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

#experience .ui-list {
  justify-content: space-between;
}

#experience .ui-list div {
  width: 100%;
  text-wrap: balance;
}

#experience .ui-list div div {
  width: 50%;
  justify-content: flex-start;
  gap: 1rem;
}

.ui-list div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.ui-list img {
  width: 1rem;
  height: 1rem;
}

.ui-list div:hover:not(.selected-item):not(.selected-item > div) {
  background-color: var(--clr-tertiary-bg);
}

.selected-frame {
  border-color: var(--clr-light-blue);
}

.selected-frame .decorating-text {
  color: var(--clr-light-blue);
}

.selected-frame .container-content {
  scrollbar-color: var(--clr-light-blue) var(--clr-primary-bg);
}

div.selected-frame > ::-webkit-scrollbar-thumb {
  background-color: var(--clr-light-blue);
}

.selected-item,
.selected-item div {
  background-color: var(--clr-secondary-bg);
}

.text-orange {
  color: var(--clr-orange);
}

.text-blue {
  color: var(--clr-blue);
}

.text-pink {
  color: var(--clr-pink);
}

.text-xs {
  font-size: 0.6rem;
}

.bible-verse {
  margin-top: 2rem;
  font-style: italic;
  padding: 0.5rem 2rem;
  border: 0.1px solid var(--clr-blue);
  display: flex;
  flex-direction: column;
  width: 60vw;
  position: relative;
}

.bible-verse > button {
  all: unset;
  cursor: pointer;
  padding: 0.5rem;
  width: 16px;
  aspect-ratio: 1/1;

  position: absolute;
  top: -1.5rem;
  left: -1rem;
  z-index: 10;
  background-color: var(--clr-primary-txt);

  mask: url(/images/reload.svg);
  mask-repeat: no-repeat;
}

.reference {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--clr-blue);
}

.technologies-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
}

.project-button {
  all: unset;
  padding: 0.5rem 1rem;
  border: 0.1px solid var(--clr-primary-txt);
  color: var(--clr-primary-txt);
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  font-size: 1.5rem;
}

.project-button:hover {
  background-color: var(--clr-secondary-bg);
}

.project-button:active {
  opacity: 0.5;
}

.noscript-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.nav-container {
  display: none;
}

#modal-controls {
  display: none;
}

#mobile-help {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
    padding: 2vw;
    margin-top: 100px;
    overflow-y: scroll !important;
    overflow-x: hidden;
  }

  #experience .ui-list div {
    align-items: center;
  }

  .buttons-container {
    flex-direction: column;
  }

  .project-button {
    padding: 1rem 0;
  }

  .image-inner-container {
    width: 100%;
  }

  #main-container {
    height: 100%;
  }

  #section-container {
    flex-direction: column;
    gap: 1rem;
  }

  #left-section {
    display: none;
  }

  #right-section {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
  }

  #main-content {
    font-size: 1.2rem;
  }

  .outer-paragraph-container {
    padding: 0 5%;
  }

  #mobile-help {
    margin-top: 1rem;
    font-size: 1.1rem;
    display: block;
  }

  #desktop-help {
    display: none;
  }

  #main-content .container-content {
    height: 100%;
  }

  .container {
    height: fit-content !important;
  }

  .ui-list {
    font-size: 1.2rem;
    gap: 0;
    width: auto;
  }

  .ui-list div {
    padding: 0.5rem;
  }

  #experience .ui-list div {
    width: auto;
  }

  #logo-container {
    width: 90%;
    min-height: 50px;
  }

  #footer {
    margin: 1rem 0;
    justify-content: center;
    font-size: 1rem;
  }

  .footer-item {
    gap: 1rem;
  }

  #footer-help {
    display: none;
  }

  .bible-verse {
    width: initial;
  }

  /* NAVBAR */
  .nav-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
    width: 100vw;
    height: 110px;
    background-color: var(--clr-primary-bg);
    opacity: 0.9;
    z-index: 98;
  }

  #logo-container {
    display: none;
  }

  .nav-container img {
    position: relative;
    bottom: 5px;
    width: 70%;
  }

  #hamburger-menu {
    position: relative;
    left: -16px;
    width: 32px;
  }

  .nav-container .checkbox {
    display: block;
    position: relative;
    height: 32px;
    width: 32px;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
    background: transparent;
    box-shadow: none;
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
  }

  .nav-container .hamburger-lines {
    height: 26px;
    width: 30px;
    top: 0;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border: 0.1px solid var(--clr-primary-txt);
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.2s ease-in-out;
  }

  #left-section {
    transform: translate(150%);
    width: 97vw;
    display: flex;
    position: fixed;
    left: 1.5vw;
    transition: transform 0.5s ease-in-out;
    z-index: 99;
    background-color: var(--clr-primary-bg);
  }

  .menu-open {
    transform: translate(0) !important;
    position: absolute !important;
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  #skills {
    flex-grow: 1;
  }
}
